<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Send JSON to the server
    </title>
    <meta http-equiv="Content-Type" content="application/activity+json"; charset="UTF-8" />
</head>
<body>
<h2>  <a href="http://localhost:8090/products"> Get progucts </a> </h2>
<h2>  <a href="http://localhost:8090/create">   Add products </a> </h2>
<h2>  <a href="http://localhost:8090/categories">  Get categories </a> </h2>
<h2>  <a href="http://localhost:8090/categories/create"> Add Category </a></h2>
</body>